body {
    background: linear-gradient(135deg, #71a0b6, #435373); /* Tonos cafés cálidos */
    color:#D0ECF2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Título estilizado */
.titulo-lumina {
    font-size: 3rem;
    font-weight: 900; /* Hace que la fuente sea más gruesa */
    color: #D0ECF2; /* Café claro elegante */
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 3px 3px 6px (0, 0, 0, 0.4);
}

/* Contenedor del formulario */
.login-container {
    background: rgba(67, 83, 115, 0.541);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
}

/* Botón con efecto hover */
.btn-login {
    background-color:#D0ECF2; /* Café oscuro */
    color: rgb(0, 0, 0);
    border: none;
    font-weight: bold;
}

.btn-login:hover {
    background-color: #1848D9;
}

/* Estilo para los inputs */
.form-control {
    background: rgba(172, 191, 226, 0.3);
    border: none;
    color: #26151A;
    font-weight: bold;
}

.form-control:focus {
    background: rgba(255, 255, 255, 0.5);
    color:#26151A;
    border: 1px solid #5D7A8C;
}

/* Estilo de los labels */
.form-label {
    font-weight: bold;
    color: #000000;
}
